<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <title>@ViewData["Title"] - NET React SPA </title>

        <environment names="Development">
            <link rel="stylesheet" href="~/build/css/styles.css" asp-append-version="true" />
        </environment>

        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/dist/css/styles.min.css" asp-append-version="true" />
        </environment>

    </head>

    <body>
        @RenderBody()
        <div id="app-container"></div>

        <environment names="Development">
            <script src="~/build/js/bundle.js" asp-append-version="true"></script>
        </environment>
        
        <environment names="Staging,Production">
            <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("mainapp", required: false)
    </body>
</html>